@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body, .root {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    margin: 0px;
}

.root {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: white;
}

/* Page Overlay */

.page-overlay {
    position: fixed;
    inset: 0;
    background: black;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 300ms ease-in-out, visibility  300ms ease-in-out;
    z-index: 500;
}

/* Content */

.root > .content {
    display: flex;
    flex-direction: column;

    gap: 6.25rem;

    background: inherit;
}

/* Hero */

.hero > video {
    width: 100%;
}