.footer {
    background: #F8F9F8;

    padding: 2rem 3.75rem 2.875rem 3.75rem;

    /**/

    @media (max-width: 768px) {
        & {
            padding: 2rem 1.375rem 2.875rem 1.375rem;
        }
    }

    /**/

    > .container-1 {
        > .wrap {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            width: 100%;
            
            @media (max-width: 768px) {
                & {
                    flex-wrap: wrap;
                    row-gap: 3.188rem;
                }
            }

            > .sect {
                @media (max-width: 768px) {
                    & {
                        width: 50%;
                    }
                }

                /**/

                > p {
                    font-size: 0.813rem;
                    text-transform: uppercase;
                    margin: 0px;
                }

                > div {
                    margin-top: 1.875rem;

                    display: flex;
                    flex-direction: column;
                    gap: 1.188rem;

                    > p {
                        margin: 0px;

                        font-size: 0.75rem;
                        color: #636463;
                    }
                }

                /**/

                &.newsletter {
                    width: 393px;

                    > .text-input {
                        flex: 1 1 auto;
                        width: 100%;

                        position: relative;

                        > input[type="text"] {
                            box-sizing: border-box;

                            height: 52px;
                            width: 100%;

                            border: unset;
                            border-bottom: 1px #808080 solid;

                            font-size: 0.875rem;
                        }

                        > p {
                            margin: 0px;

                            position: absolute;

                            top: 50%;
                            left: 0px;

                            transform: translateY(-50%);

                            user-select: none;
                            
                            font-size: 0.875rem;
                            color: #B3B3B3;

                            pointer-events: none;
                        }
                    }

                    > button.cta {
                        padding: 0.625rem;

                        width: 100%;

                        font-size: 0.75rem;
                        text-transform: uppercase;
                        color: black;

                        border: none;
                        border-radius: 0px;

                        background: #E0E0E0;

                        
                        @media (max-width: 768px) {
                            & {
                                margin-top: 1.125rem;
                            }
                        }
                    }
                }
            }
        }
    } 

    /**/

    > .copy {
        margin-top: 3.75rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > p {
            margin: 0px;
            
            font-size: 0.75rem;
        }
    }
}