@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.marquee {
    height: 85px;

    overflow: hidden;

    white-space: nowrap;

    background: black;

    position: relative;

    > .content {
        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5.938rem;

        animation: marquee 20s linear infinite;

        /**/

        p {
            margin: 0px;

            color: white;

            font-family: "Hanken Grotesk", sans-serif;
            font-weight: 900;
            font-size: 3.75rem;

            text-transform: uppercase;
        }

        img.hflip {
            transform: scaleX(-1);
        }
    }
}