.nav {
    position: fixed;
    top: 0;
    z-index: 250;

    width: 100%;
}

.navbar {
    box-sizing: border-box;

    padding: 0px 2.5rem;
    width: 100%;
    height: 45px;

    background-color: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /**/

    @media (max-width: 768px) {
        & {
            padding: 0px 0px;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0px 0.875rem 0px 0px;

        > .nav-container {
            flex-direction: column;
        }
    }
}

/** #region dropdown **/

.navbar > .language-dropdown {
    position: relative;

    background-color: white;

    font-size: 0.813rem;
    font-family: "Inter";

    user-select: none;

    /**/

    transition: all 300ms ease-in-out;

    @media (max-width: 768px) {
        & > .dropdown-toggle, & > .dropdown-content > .dropdown-item {
            padding-left: 14px;
        }
    }

    /**/

    > .dropdown-toggle {
        padding: 0.625rem;

        display: flex;
        align-items: center;
        gap: 0.375rem;

        transition: inherit;
    }

    > .dropdown-content {
        position: absolute;
        
        transition: inherit;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        width: 100%;

        background-color: white;

        > .dropdown-item {
            padding: 0.625rem;
        }
    }

    &:hover {
        > .dropdown-toggle {
            color: #7A7A7A;
        }

        > .dropdown-content {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

/** #endregion dropdown **/


/** #region nav-item **/

.navbar > .nav-toggle {
    display: none;

    border: none;
    background-color: transparent;
    
    padding: 0px;
    margin: 0px;

    /**/

    @media (max-width: 768px) {
        & {
            display: flex;
        }
    }
}

@media (max-width: 768px) {
    .root {
        > .nav > .navbar > .nav-toggle {
            > svg {
                cursor: pointer;
            }

            /**/

            > .close {
                display: none;
            }

            > .open {
                display: block;
            }
        }

        /**/

        &.nav-active > .nav > .navbar > .nav-toggle {
            > .close {
                display: block;
            }

            > .open {
                display: none;
            }
        }
    }
}

/**/

.navbar > .nav-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    /**/

    @media (max-width: 768px) {
        & {
            background-color: white;

            position: absolute;

            top: 100%;
            left: 0;

            height: 100vh;
            width: 100%;

            padding: 1rem 0px 0px 0px;

            box-sizing: border-box;

            /**/

            display: none;

            &.active {
                display: flex;
            }
        }
    }

    /**/


    > .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0px 0.625rem;

        font-size: 0.813rem;
        text-transform: uppercase;

        /**/

        &:not(.dropdown),
        &.dropdown > .toggle {
            transition: font-weight 300ms ease-in-out, font-size 300ms ease-in-out;

            user-select: none;
        }

        /**/

        &:not(.dropdown):hover,
        &.dropdown:hover > .toggle {
            font-size: 1rem;
            font-weight: 700;
        }

        /** #region dropdown */

        &.dropdown {
            position: relative;

            transition: all 300ms ease-in-out;

            @media (max-width: 768px) {
                & {
                    position: unset;
                    
                    display: flex;
                    flex-direction: column;

                    /**/

                    &:hover {
                        > .toggle {
                            font-size: 1.5rem;
                        }

                        > .content {
                            max-height: fit-content;
                        }
                    }
                }
            }

            > .content {
                position: absolute;

                top: 100%;

                width: 100%;
        
                transition: inherit;

                opacity: 0;
                visibility: hidden;
                pointer-events: none;

                /**/

                @media (max-width: 768px) {
                    & {
                        position: unset;
                        top: unset;
                        
                        max-height: 0px;
                        height: fit-content;

                        > .item {
                            text-align: center;
                        }
                    }
                }

                /**/

                > .item {
                    padding: 0.625rem;

                    font-size: 0.813rem;

                    transition: font-size 300ms ease-in-out;

                    &:hover {
                        font-size: 0.938rem;
                    }
                }
            }

            &:hover {
                z-index: 600;

                color: #FFFFFF;

                /**/

                @media (max-width: 768px) {
                    color: #000000;
                }

                /**/

                > .content {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        /** #endregion dropdown */
    }
}

@media (min-width: 768px) {
    body:has(.nav > .navbar .nav-item.dropdown:hover) .page-overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

    }
}

/** #endregion nav-item **/

/** #region actions **/

.navbar > .actions {
    display: flex;
    align-items: center;
    gap: 0.875rem;

    > .sign-in {
        padding: 0.625rem;

        font-size: 0.813rem;
        text-transform: uppercase;
    }


}

/** #endregion actions **/


/** #region plaimanas **/

.plaimanas {
    display: flex;
    justify-content: center;

    > .logo {
        position: fixed;
        top: 0;
        top: calc(45px + 25px);

        box-sizing: border-box;

        mix-blend-mode: difference;

        max-width: 100vw;
        width: 100%;

        transform: width 250ms linear;

        padding: 0px 2.5rem;
    
        z-index: 100;

        > svg {
            position: relative;
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .plaimanas > .logo {
        padding: 0px;
        max-width: 100vw;
        
        top: calc(45px + 11px);

        width: 95%;
    }

    .root.nav-active > .plaimanas > .logo {
        bottom: 15px;
        top: unset;
        z-index: 250;
    }
}

body {
    isolation: isolate;
}

/** #endregion plaimanas **/