.content > .sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: inherit;
}

.content > .sect-1 {
    > .img {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50%;
        aspect-ratio: 1 / 1;

        margin: 0 auto;

        background: url("../img/7b6529a12a4f5ab332188c7dac157175d7d93817.jpg");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        > h1 {
            margin: 0;

            position: sticky;

            top: 25%;

            color: white;

            font-family: "Hanken Grotesk", sans-serif;
            font-weight: 900;
            font-size: 5rem;

            text-align: center;
            text-transform: uppercase;

            @media (max-width: 768px) {
                & {
                    top: 10%;
                }
            }
        }
    }

    > .text {
        max-width: 50%;
        text-align: center;

        > p {
            font-size: 0.875rem;

            > .title {
                font-size: 1rem;
            }
        }
    }

    /**/

    @media (max-width: 768px) {
        & {
            > .img {
                width: 80%;

                > h1 {
                    font-size: 2.5rem;
                }
            }

            > .text {
                max-width: 80%;

                > p {
                    font-size: 0.75rem;

                    > .title {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

.content > .sect-2 {
    box-sizing: border-box;
    
    padding: 0px 4.688rem;

    max-width: 100%;

    > .video {
        position: relative;

        max-width: 90%;
        width: 100%;

        > video {
            max-width: 100%;
            width: 100%;
        }

        > .text {
            position: absolute;
            top: 0;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            > h1 {
                margin: 0;

                position: sticky;

                top: 50%;

                color: white;

                font-family: "Hanken Grotesk", sans-serif;
                font-weight: 900;
                font-size: 5rem;

                text-align: center;
                text-transform: uppercase;

                @media (max-width: 768px) {
                    & {
                        top: 10%;
                    }
                }
            }
        }
    }

    > .text {
        max-width: 50%;
        text-align: center;

        > p {
            font-size: 0.875rem;

            > .title {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        & {
            padding: 0px 0px;

            > .video {
                > .text > h1 {
                    font-size: 2.5rem;
                }
            }

            > .text {
                max-width: 80%;

                > p {
                    font-size: 0.75rem;

                    > .title {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

.content > .sect-3 {
    padding: 0px clamp(1.375rem, 10vw, 14.375rem);

    box-sizing: border-box;
    max-width: 100vw;

    display: flex;
    gap: 4.188rem;

    > .col-1 {
        max-width: inherit;

        position: relative;

        width: 100%;

        > img {
            aspect-ratio: 2.06/1;
            max-width: inherit;
            width: 100%;
        }

        > .text {
            position: absolute;
            top: 0;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            > h1 {
                margin: 0;

                color: white;

                font-family: "Hanken Grotesk", sans-serif;
                font-weight: 900;
                font-size: 3.75rem;

                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    > .col-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: inherit;

        width: 100%;

        > div {
            max-width: 100%;
            position: relative;

            > img {
                aspect-ratio: 1/1;
                max-width: inherit;
                width: 100%;
            }

            > .text {
                position: absolute;
                top: 0;

                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                > h1 {
                    margin: 0;
                    
                    color: white;

                    font-family: "Hanken Grotesk", sans-serif;
                    font-weight: 900;
                    font-size: 2.5rem;

                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            padding: 0px 1.375rem;

            gap: 1.5rem;

            > .col-1 > .text > h1 {
                font-size: 1.875rem;
            }

            > .col-2 > div > .text > h1 {
                font-size: 1.125rem;
            }
        }
    }
}

/**/

.content > .sect-4 {
    padding: 1.5rem clamp(1.375rem, 10vw, 10.875rem);

    display: flex;
    justify-content: space-evenly;
    gap: 7.875rem;

    @media (max-width: 768px) {
        & {
            padding: 0px 1.375rem;

            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }

    > .part {
        max-width: 280px;

        > p.title {
            font-size: 1rem;
            font-weight: 700;

            text-transform: uppercase;
        }

        > p.body {
            color: #666666;
            font-size: 0.875rem;
            font-weight: 400;
        }
    }
}

/**/

.content > .sect.faq {
    box-sizing: border-box;
    padding: 6.25rem 10.875rem;

    width: 100%;

    background-color: black;
    color: white;

    @media (max-width: 768px) {
        & {
            padding: 6.25rem 1.375rem;
        }
    }

    > .head {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > h1 {
            margin: 0px;

            font-family: "Hanken Grotesk", sans-serif;
            font-weight: 900;
            font-size: 2.5rem;
            text-align: center;
            text-transform: uppercase;

            @media (max-width: 768px) {
                & {
                    font-size: 1.5rem;
                }
            }
        }
        
        > p {
            margin: 0px;

            font-weight: 400;
            font-size: 0.875rem;
            text-align: center;
        }
    }

    > .selector {
        margin-top: 2.25rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        /**/

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
        
        /**/

        > button {
            padding: 0.625rem 0.938rem;

            border: 1px #828282 solid;
            border-radius: 100px;

            background: #333333;

            color: white;

            font-size: 0.813rem;
            text-transform: uppercase;

            cursor: pointer;

            &.active {
                background-color: white;
                color: black;
            }
        }
    }

    > .faq-container {
        width: 100%;
        padding: 5.625rem 10.875rem 0px 10.875rem;

        @media (max-width: 768px) {
            & {
                padding: 3.75rem 1.375rem 0px 1.375rem;
            }
        }

        > .container-1 {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &.hidden {
                display: none;
            }

            /**/

            > .accordian {
                display: flex;
                flex-direction: column;

                > .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    cursor: pointer;

                    > p {
                        margin: 0px;

                        font-size: 1rem;
                        font-weight: 700;

                        text-transform: uppercase;
                    }

                    > .expander {
                        transform: rotate(0deg);
                    }
                }

                > .content {
                    color: #999999;

                    font-size: 0.875rem;

                    max-height: 0;

                    overflow: hidden;

                    transition: max-height 250ms ease-out;

                    > .cont {
                        padding-top: 14px;
                    }
                }

                &.active {
                    > .head > .expander {
                        transform: rotate(180deg);
                    }
                }
            }

            > .sep {
                width: 100%;
                height: 1px;

                margin: 0px;

                background: #333333;
            }
        }
    }
}

.content > .sect.inq {
    position: relative;

    > .wrap {
        box-sizing: border-box;
        padding: 0px 10.875rem 6.25rem 10.875rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 4.625rem;

        width: 100%;

        /**/

        @media (max-width: 768px) {
            & {
                padding: 0px 1.375rem 6.25rem 1.375rem;
            }
        }

        /**/

        > .container-1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            max-width: 375px;

            > h1 {
                margin: 0px;

                font-family: "Hanken Grotesk", sans-serif;
                font-weight: 900;
                font-size: 2.5rem;
                text-transform: uppercase;
            }

            > p {
                margin: 0px;
                font-size: 0.875rem;
            }
        }

        > .container-2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: 2.5rem;

            max-width: 644px;

            > .form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                gap: 1.313rem;

                width: 100%;

                > .sect {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1.25rem;

                    width: 100%;

                    /**/

                    @media (max-width: 768px) {
                        & {
                            flex-direction: column;
                        }
                    }

                    /**/

                    &.radio {
                        gap: 1.313rem;

                        width: max-content;

                        @media (max-width: 768px) {
                            & {
                                flex-direction: row;
                            }
                        }
                    }

                    > .radio {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;

                        > p {
                            margin: 0px;
                        }

                        > input[type="radio"] {
                            margin: 0px;

                            width: 18px;
                            height: 18px;

                            accent-color: black;
                        }
                    }

                    /**/

                    > .text-input {
                        flex: 1 1 auto;
                        width: 100%;

                        position: relative;

                        > input[type="text"] {
                            box-sizing: border-box;

                            height: 52px;
                            width: 100%;

                            border: unset;
                            border-bottom: 1px #808080 solid;

                            font-size: 0.875rem;
                        }

                        > p {
                            margin: 0px;

                            position: absolute;

                            top: 50%;
                            left: 10px;

                            transform: translateY(-50%);

                            user-select: none;
                            
                            font-size: 0.875rem;
                            color: #B3B3B3;

                            pointer-events: none;
                        }

                        &.filled {
                            > p {
                                top: 0;
                                left: 0px;
                                
                                transform: none;
                                
                                font-size: 0.625rem;
                            }
                        }
                    }

                    > .dropdown-input {
                        flex: 1 1 auto;

                        width: 100%;
                        height: 52px;

                        border-bottom: 1px #808080 solid;

                        position: relative;
                        
                        > .toggle {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            justify-content: space-between;

                            width: 100%;
                            height: 100%;

                            > p {
                                margin: 0px;
                                margin-left: 0.625rem;

                                user-select: none;
                                
                                font-size: 0.875rem;
                                color: #B3B3B3;
                            }

                            > svg {
                                color: #B3B3B3;

                                cursor: pointer;
                            }
                        }

                        > .content {
                            position: absolute;

                            margin-top: 1px;

                            top: 100%;

                            width: 100%;

                            padding: 0.938rem 0.625rem;

                            display: flex;
                            flex-direction: column;
                            gap: 0.75rem;

                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;

                            background-color: #F8F9F8;
                        }

                        &.active {
                            > .content {
                                opacity: 1;
                                visibility: visible;
                                pointer-events: all;
                            }
                        }
                    }

                    /**/

                    &.tac {
                        gap: 0.5rem;

                        width: max-content;

                        /**/

                        @media (max-width: 768px) {
                            & {
                                flex-direction: row;
                            }
                        }

                        /**/

                        > p {
                            margin: 0px;

                            font-size: 0.875rem;

                            color: #7E7E7E;
                        }


                        > input[type="checkbox"] {
                            margin: 0px;

                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }

            > button.send {
                padding: 0.625rem 1.875rem;

                text-transform: uppercase;
                color: white;

                border: none;
                border-radius: 0px;

                background: black;
            }
        }
    }

    /**/

    > .homepage {
        position: absolute;
        
        bottom: 0;
        left: 10px;

        box-sizing: border-box;

        padding: 0.625rem;

        user-select: none;

        cursor: pointer;

        > p {
            margin: 0px;

            text-transform: uppercase;
            font-size: 0.75rem;
        }
    }
}